body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 40px;
  background-color: rgb(220, 235, 246);
  height: 100vh;
}
.form-block {
  display: flex;
  justify-content: center;
}
label {
  display: block;
  font-size: 1rem;
  padding-bottom: 10px;
}
.input-block {
  margin-right: 10px;
}
input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
}
input,
button {
  height: 35px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
}
button {
  align-self: end;
  background-color: #fff;
}
.table {
  width: 80%;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 10px;
}

.table-head tr {
  font-size: 1rem;
  font-weight: lighter;
}
tbody {
  margin-top: 30px;
  background-color: #fff;
}
tr {
  text-align: center;
  padding: 15px;
  height: 40px;
}
td.icon {
  font-size: 1.5rem;
  width: 15%;
}
.icon:hover {
  cursor: pointer;
}
